# Reverse Proxy from Caddy to development servers
#
# Port: Service
# =============
# 4400: Caddy
# 4401: React (Vite)
# 8000: FastAPI

http://localhost:4400 {

	reverse_proxy /api* http://localhost:8000
	reverse_proxy /docs* http://localhost:8000
	reverse_proxy * http://localhost:4401

}