# Reverse Proxy from Caddy to development servers
#
# Port: Service
# =============
# 4400: Caddy
# 4401: Next.js
# 8000: Django

http://localhost:4400


reverse_proxy /api http://localhost:8000
reverse_proxy /api/* http://localhost:8000
reverse_proxy * http://localhost:4401
